body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-size: 27px;
  text-align: center;
  padding: 10px;
  margin-bottom: 150px;
}

#tableItem {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #006400;
  width: 100%;
}

#tableItem td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tableItem tr:nth-child(even){background-color: #f2f2f2;}

#tableItem tr:hover {background-color: #ddd;}

#tableItem th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background: 	#32CD32;
  color: white;
}

.pagination {
  padding: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination li {
  color: black;
  list-style: none;
  border: 1px solid #ddd;
  padding: 8px 16px;
  text-decoration: none;
  height: 20px;
  cursor: pointer;
}

.activePage {
 background-color: 	#32CD32;
}

.btn {
  border: none;
  background-color: none;
  color: gray;
  height: 20px;
  cursor: pointer;
  outline: none;
  
}
.btn:hover {
  color: black;
}

.select{
  margin-bottom: 50px;
  border: 2px solid #006400;
  min-height: 40px;
  background-color: whitesmoke;
  margin-left: 10px;
}

.searchByWord {
  margin-bottom: 50px;
  width: 200px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #006400;
  margin-left: 10px;

}

   @media (min-width: 458px) {
  .searchByWord {
    margin-left: 20px;
  }
}



.form {
  margin-left: 10px;
  display: flex;
}
@media (max-width: 458px) {
  .form{
    display: flex;
    flex-direction: column;
  }
}

.label {
  margin-left: 5px;
}